.company-hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  
  background-size: cover;
  background-position: center;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
}



.hero-content {
  color: white;
  text-align: center;
  padding: 2rem;
}


.hero-content h2 {
  font-size: 3rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.our-story {
  padding: 4rem 2rem;
}

.story-section {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 3rem;
}

.story-section.reverse {
  flex-direction: row-reverse;
}

.story-section img {
  width: 50%;
  border-radius: 10px;
}

.story-section p {
  width: 50%;
  font-size: 1.1rem;
}

.our-values {
  background: #f9f9f9;
  padding: 4rem 2rem;
  text-align: center;
}

.our-values ul {
  list-style: none;
  padding: 0;
}

.our-values li {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.our-partners {
  padding: 3rem 2rem;
  text-align: center;
}

.our-partners img {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
}





.company-hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.hero-content {
  color: white;
  text-align: center;
  padding: 2rem;
  z-index: 2;
}

.hero-content h2 {
  font-size: 3rem;
  margin-top: 20%;
}

.hero-content p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
