.impact-pie-section {
  padding: 4rem 2rem;
  background-color: #fff;
  text-align: center;
  min-height: 100vh;
}

.impact-pie-section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #0D0D0D;
}

.impact-chart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-left: 0; /* Reset for mobile */
}

.custom-legend {
  list-style: none;
  padding-left: 65%;
  padding-bottom: 25%;
  margin-top: 10rem;
  color: #0D0D0D;
  font-weight: 500;
  font-size: 0.95rem;
}

.custom-legend li {
  margin-bottom: 0.7rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.legend-color-box {
  width: 14px;
  height: 14px;
  display: inline-block;
  border-radius: 3px;
}


@media (max-width: 768px) {
  .impact-pie-section {
    padding-top: 2rem;
    margin-top: 0;
  }

  .impact-pie-section h2 {
    font-size: 1.5rem;
  }

  .impact-chart-wrapper {
    margin-top: 1rem;
    flex-direction: column;
    gap: 2rem;
    transform: translateX(-45px);
  }

  .custom-legend {
    display: none;
  }
}
