.impact-pie-section {
  padding: 4rem 2rem;
  background-color: #fff;
  text-align: center;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.impact-pie-section h2 {
  font-size: 2.5rem;
  margin: 0 0 1.2rem;
  color: #0D0D0D;
}

.impact-chart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.35rem;
  flex-wrap: wrap;
  margin-top: 0;
  margin-left: 0; 
}

.impact-chart {
  flex: 0 0 auto;
}

.custom-legend {
  list-style: none;
  padding-left: 0;
  padding-bottom: 0;
  margin: 0;
  color: #0D0D0D;
  font-weight: 500;
  font-size: 0.95rem;
  text-align: left;
  max-width: 340px;
}

.custom-legend li:first-child {
  margin-top: 0;
}

.custom-legend li {
  margin-bottom: 0.7rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.legend-color-box {
  width: 14px;
  height: 14px;
  display: inline-block;
  border-radius: 3px;
}


@media (max-width: 768px) {
  .impact-pie-section {
    padding-top: 2rem;
    margin-top: 0;
    min-height: 50vh;
  }

  .impact-pie-section h2 {
    font-size: 1.5rem;
  }

  .impact-chart-wrapper {
    margin-top: 2rem;
    flex-direction: column;
    display: flex;
    gap: 2.2rem;
    transform: translateX(-45px);
   
  }
.custom-legend{
  display: none;
}
  
}
