.process-section {
  padding: 5rem 2rem;
  text-align: center;
  background-color: #fff;
}

.process-section h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: #0D0D0D;
}


.process-wrapper {
  display: flex;
  justify-content: center;
  /* overflow-x: auto; */
  padding: 0 1rem;
  width: 100%;
}

.process-container {
  position: relative;
  height: 400px;
  width: 1000px; 
  margin: 0 auto;
  min-width: fit-content;
}

/* Boxes */
.process-box {
  position: absolute;
  padding: 1rem 1.5rem;
  background: #f4f4ff;
  border: 1px solid #ccc;
  border-radius: 8px;
  white-space: nowrap;
  text-align: center;
  font-size: 0.9rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  color: #0D0D0D;
  width: auto;
  min-width: auto;
  transition: all 0.3s ease;
  cursor: default;
}

.process-box:hover{
    transform: scale(1.05);
  background-color: #eefced; 
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);

}

.center-box {
  background-color: #D9FAD3;
  font-weight: bold;
}

/* Diamond */
.diamond-box {
  width: 120px;
  height: 120px;
  background: #EDEDED;
  position: absolute;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse 2s ease-in-out infinite;
}

.diamond-box span {
  transform: rotate(-45deg);
  display: block;
  text-align: center;
  font-weight: bold;
  max-width: 100px;
  color: #0D0D0D;
}

/* Arrows */
.process-arrows {
  position: absolute;
  top: 0;
  left: 0;
  width: 1100px;
  height: 100%;
  pointer-events: none;
}

.arrow-line {
  stroke: #B0F222;
  stroke-width: 2.5;
  fill: none;
  marker-end: url(#arrowhead);
}


.arrow-line {
    stroke: #B0F222;
    stroke-width: 2.5;
    fill: none;
    marker-end: url(#arrowhead);
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: draw 1.2s ease forwards;
}

/* diamond animation */

@keyframes pulse {
    0% {
        transform: rotate(45deg) scale(1);
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    }
    50% {
        transform: rotate(45deg) scale(1.05);
        box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    }
    100% {
        transform: rotate(45deg) scale(1);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
}





/* draw animatin */
@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}


@media (max-width: 1024px) {
  .process-container {
    transform: scale(0.6);
    transform-origin: top left;
    width: 1100px;
    height: 500px;
  }
}

@media (max-width: 768px) {
  .process-container {
    transform: scale(0.6);
    transform-origin: top left;
    width: 100%;

    height: 500px;
    
  }

  .process-box {
    font-size: 0.75rem;
    padding: 0.8rem 1rem;
  }

  .diamond-box {
    width: 110px;
    height: 110px;
  }

  .diamond-box span {
    font-size: 0.8rem;
    max-width: 90px;
  }
  .process-wrapper{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
      padding: 0;
  }
 .process-section h2 {
    font-size: 1.5rem;
 }
  

  
}
