.process-section {
    padding: 5rem 2rem;
    text-align: center;
    background-color: #fff;
    position: relative;
}
.process-section h2{
    font-size: 2rem;
    margin-bottom: 3rem;
    color: #0d0d0d;
}
.process-flow {
    position: relative;
    max-width: 1200px;
    height:500px;
    margin: 0 auto;
    border-left: 4px dotted #ccc;
    border-right: 4px dotted #ccc;
}
.input-box, .output-box, .center-box,.diamond-box {
    position: absolute;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    width: max-content;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    color: #0d0d0d;
}
.input-box {
    left: 0;
    transform: translateX(-110%);
}
.output-box {
    right: 0;
    transform: translateX(110%);

}
.center-box {
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    background-color: #D9FAD3;
    font-weight: bold;
}
.diamond-box {
    left: 50%;
    top: 80%;
    width: 160px;
    height: 160px;
    background-color: #ededed;
    transform: translate(-50%, -50%) rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.diamond-box span {
    transform: rotate(-45deg);
    display: block;
    font-weight: bold;
    max-width: 100px;
    text-align: center;
    color: #0d0d0d;
}

.Arrow-horizontal{
    position: absolute;
    top: 40%;
    left: calc(50% + 100px);
    font-size: 2rem;
    color: #333;
}