

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
 
  background-color: white;
}
body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, .about-title, .services-title {
  font-family: 'Space Grotesk', sans-serif;
}